<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de inicio de sesión</title>
</head>
<body>
    <h1>Formulario de inicio de sesión</h1>
    <form action="http://localhost:5000/login" method="POST">
        Usuario:<br>
        <input type="text" name="user" value="">
        <br>
        Contraseña:<br>
        <input type="password" name="pass" value="">
        <br>
        <br><br>
        <input type="submit" value="Acceder">
    </form> 
</body>
</html>
